@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #24201a;
  --background-color: #fafafa;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 44px;
}

p {
  font-size: 20px;
}
.hero-image {
  max-height: 576px;
  width: 100%;
  margin: 30px 0;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0 0 1rem #696969;
}

main {
  padding: 20px 20px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

a {
  text-decoration: none;
  color: black;
}  

.primary-button {
  background-color: #24201a;
  color: #F5EFE6;
  padding: .5em 1em;
  border-radius: .5em;
}