---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
import { Image } from '@astrojs/image/components';
---

<MainLayout title="About Page">
	<h1>
    About
  </h1>
  <img class="og-image" src="/about.jpg" alt="">
</MainLayout>


<style>
	img {
		border-radius: 16%;
	}
</style>