---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title="Design">
	<h1>
    Design
  </h1>
  <img class="og-image" src="/cute.jpg" alt="">
</MainLayout>


<style>
	img {
		border-radius: 16%;
	}
</style>