---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title="Design">
	<h1>
    Дизайн
  </h1>
  <img class="og-image" src="/design.jpg" alt="">
  <p>Без коментарів.</p>
</MainLayout>


