---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title='Polly'>
	<h1>Про мене</h1>
	<img src="/poly.jpg" alt="Polly photo" class="og-image"/> 
	<p> Я люблю піццу з ананасами. Це все, що вам потрібно знати про мене як особистість...</p>
	<p>А ще в мене найкращий хлопець у світі, який мене дуже сильно любить :)</p>
	<p>Ну що тут ще можна додати... блог буде топ!</p>
</MainLayout>

<style>
	img {
		border-radius: 16%;
	}
</style>