---
import { getCollection, CollectionEntry } from "astro:content";
import { Image } from "@astrojs/image/components";
import MainLayout from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";
import "../styles/global.css";

import { formatBlogPosts } from "../utils/utils";

const allPosts = await getCollection("blog");
const formattedPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts);
---

<MainLayout title='Polly'>
	
	<h1>Блог😍</h1>
	<div class="posts"> {
		formattedPosts.map((post) => (
          <PostCard data={post.data} url={post.slug}/>
		))}
  </div>
	
	
</MainLayout>

<style>
	.posts {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 3em;
		row-gap: 3em;
	}

	h1 {
		margin-bottom: 20px;
	}
</style>