---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title='Polly'>
	<h1>Блог😍</h1>
	<img src="/me.jpg" alt="Polly photo" class="og-image"/> 
	<p>Я закінчую другий курс журналістики, тому можете бути певні, що всі статті в цьому блозі будуть написані Chat-GPT🥰</p>
</MainLayout>

