---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title="Tech">
	<h1>
    Технології
  </h1>
  <img class="hero-image" src="/suspicious.jpg" alt="">
	<p>У мене є макбук, бітч!</p>
	<p>Але я все ще пишу статті в ворді... Треба ж з чого-то починати💁‍♀️</p>
</MainLayout>


