---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title="Tech">
	<h1>
    Tech
  </h1>
  <img class="og-image" src="/suspicious.jpg" alt="">
</MainLayout>


<style>
	img {
		border-radius: 16%;
	}
</style>