---
import "../styles/global.css";
---

<div>
  Polly Blog © 2023
</div>

<style>
  div {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-top: auto;
  }
</style>