---
import "../styles/global.css";

---

<nav>
  <div class="logo">
    <a href="/"> <img src="/rofl-logo.png" alt="Polly"></a> 
  </div>

  <div class="links">
    <a href="/fashion">Мода</a>
    <a href="/design">Дизайн</a>
    <a href="/tech">Технології</a>
    <a class="subscribe-button" href="/about">Підписатися</a>
  </div>
</nav>

<style>
  nav {
    margin: 0 auto;
    padding: 0px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* box-sizing: border-box; */
  }

  .links {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    max-width: 480px;
    font-size: 18px;
  }
  .subscribe-button {
    border: 2px solid var(--text-color);
    border-radius: 3rem;
    border-color: var(--text-color);
    padding: 10px 30px;
    margin-left: 10px;
    transition: 0.25s;
    /* background-color: aqua; */
  }
  .subscribe-button:hover {
    color: var(--background-color);
    background-color: var(--text-color);
  }


  .logo {
    padding-right: 50px;
  }
  img {
    max-height: 80px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    }
    @-moz-keyframes spin { 
        100% { -moz-transform: rotate(360deg); } 
    }
    @-webkit-keyframes spin { 
        100% { -webkit-transform: rotate(360deg); } 
    }
    @keyframes spin { 
        100% { 
            -webkit-transform: rotate(360deg); 
            transform:rotate(360deg); 
        } 
    }
</style>